@using eNompilo.v3._0._1.Constants;
@inject IHttpContextAccessor contextAccessor;
@model eNompilo.v3._0._1.Models.SystemUsers.PersonalDetails

@{
    ViewData["Title"] = "AddPersonalDetails";
}

<h1>AddPersonalDetails</h1>

<h4>PersonalDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPersonalDetails" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfilePictureImageFile" class="control-label"></label>
                <input asp-for="ProfilePictureImageFile" class="form-control" type="file" id="formFile" accept="image/*" />
                <span asp-validation-for="ProfilePictureImageFile" class="text-danger"></span>
            </div>
            @if(contextAccessor.HttpContext.Session.GetInt32("PatientId2") == null)
            {
                <div class="form-group">
                    <label asp-for="PatientId" class="control-label"></label>
                    <input asp-for="PatientId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientId")" />
                </div>
            }
            else if(contextAccessor.HttpContext.Session.GetInt32("PatientId") == null)
            {
                <div class="form-group">
                    <label asp-for="PatientId" class="control-label"></label>
                    <input asp-for="PatientId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientId2")" />
                </div>
            }
            
            @*Maybe an if statement where if a patient is logged in, we get the above but if a receptionist is logged in, it's then a list of patients just registered - maybe sorted by the date of creation*@
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option disabled selected hidden>Please select an option</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodType" class="control-label"></label>
                <input asp-for="BloodType" class="form-control" />
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTel" class="control-label"></label>
                <input asp-for="HomeTel" type="number" class="form-control" />
                <span asp-validation-for="HomeTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyPerson" class="control-label"></label>
                <input asp-for="EmergencyPerson" class="form-control" />
                <span asp-validation-for="EmergencyPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergenyContactNr" class="control-label"></label>
                <input asp-for="EmergenyContactNr" type="number" class="form-control" />
                <span asp-validation-for="EmergenyContactNr" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label"> Are you Employed (If yes, tick the checkbox)</label>
				<input id="employedCheckbox" class="form-check-input" asp-for="Employed" />
            </div>
            <div id="workTelDiv" class="form-group">
                <label asp-for="WorkTel" class="control-label"></label>
                <input asp-for="WorkTel" type="number" class="form-control" />
                <span asp-validation-for="WorkTel" class="text-danger"></span>
            </div>
            <div id="workEmailDiv" class="form-group">
                <label asp-for="WorkEmail" class="control-label"></label>
                <input asp-for="WorkEmail" class="form-control" />
                <span asp-validation-for="WorkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citizenship" class="control-label"></label>
                <select asp-for="Citizenship" class="form-control" asp-items="Html.GetEnumSelectList<Citizenship>()">
                    <option disabled selected hidden>Please select an option</option>
                </select>
                <span asp-validation-for="Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <select asp-for="MaritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                    <option disabled selected hidden>Please select an option</option>
                </select>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suburb" class="control-label"></label>
                <input asp-for="Suburb" class="form-control" />
                <span asp-validation-for="Suburb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control" asp-items="Html.GetEnumSelectList<Provinces>()">
                    <option disabled selected hidden>Please select an option</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
